html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ea6a1e;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 1.5rem;
}

.start-btn, .reset-btn {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #282a3a;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0.8rem 2rem;
    cursor: pointer;
}

.reset-btn {
    margin-left: auto;
}
.moves, .timer {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
}

.box-container {
    max-width: 503px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.4);
    background-color: #cd5151;
    perspective: 1000px;
}

.box {
    width: 100px;
    height: 100px;
    margin: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s;
}

.box.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.4);
    backface-visibility: hidden;
}

.back-face {
    background-color: #282a3a;
}

@media (max-width:540px){
    .container {
        max-width: 350px;
    }

    .reset-btn{
        margin: 0;
    }

    .btn-container {
        flex-direction: column;
        justify-content: center;
    }

    .box {
        width: 61px;
        height: 60px;
    }
}

@media (max-width: 375px){
    .container {
        max-width: 300px;
    }

    .box {
        width: 49px;
        height: 49px;
    }
}